.app{
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: center;
  align-items: center;
  margin-left: 30rem;
  backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      min-height: 250px;
      width: 450px;
      border-radius: 1rem;
      background: rgb(255, 255, 255, 0.3);
      padding: 1.5rem;
      color: #fff;

}
.heading{
  text-align: center;
}
.input{
  width: 15rem;
  height:  2rem;
  margin: 2rem;

}

.img-1{
  width: 300px;
  border-radius: 50%;
}